@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, html * {
  font-family: Roboto;
}
/*
body {
    background-image:url("/img/plantita_vert.jpg");
    background-repeat: no-repeat;
    background-position: 0% 50%;

    background-size: 100% auto;
    background-color: #76a912;
    -o-background-size: 100% auto ;
}
*/


#plant {
   position: absolute;
   left: 50%;
   top: 50%;
   -webkit-transform: translateY(-50%) translateX(-50%);
   height: 100%;
   /*background-attachment: fixed;*/
   position: fixed;
}
