@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, html * {
  font-family: Roboto;
}

body {
    background-color: black;
}

.centered {
   position: absolute;
   left: 50%;
   top: 50%;
   -webkit-transform: translateY(-50%) translateX(-50%); 
   position: fixed;
}


#plant {
   height: 100%;
   opacity: 0.7;
}


.rel {
    position: relative;
}

.in-rel {
    position: absolute; top: 10px;
}

.window {
    background-color: #e5f3dc;
    border-radius: 5pt;
    padding-top:  5pt;
    padding-bottom: 5pt;  
    padding-left: 20pt;
    padding-right: 20pt;
}

.nodec {
    text-decoration: none;
}

.gc {
    color: #595959;
}

.wc {
    color: #FFFFFF;
}

.grnc {
    color:#629c44;
}

#loglink:visited{
    color:white;
    text-decoration: underline;
}

.shorti {
    width: 50pt;
}

tr.evenrow > td {
    padding-bottom: 20px;
    /*border-bottom: 50px;*/
}



/*th, td {
    padding: 10px;
}*/

input, textarea, button, select{
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 5px;
}