@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, html * {
  font-family: Roboto;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#header, #menu {
  background-color: #f7f6f6;
  left: 0pt;
  width: 100%;
  position: fixed;
}

#header {
  text-align: center;
  z-index: 1;
  top: 0pt;
  height: 40pt;
  margin-top: 0pt;
}

#header .title {
  font-size: 12pt;
}

#content {
  position: fixed;
  top: 40pt;
  bottom: 50pt;
  width: 100%;
  text-align: center;
  overflow: auto;
}

#menu {
  bottom: 0px;
  height: 50pt;
}

.nigga-link{
  color: lightgrey;
}

.cool-link {
  color: #54c7fc;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin-left: 20pt;
    margin-right: 20pt;
    margin-top: 10pt;
}

.flex-item1 {
    background-color: cornflowerblue;
    width: 50px;
    height: 50px;
    margin: 0px;
    left: 0%;
    position: relative;
}

.flex-item2 {
    background-color: cornflowerblue;
    width: 50pt;
    height: 50pt;
    margin: 10px;
    left: 25%;
    position: relative;
}

.flex-item3 {
    background-color: cornflowerblue;
    width: 50pt;
    height: 50pt;
    margin: 10px;
    left: 50%;
    position: relative;
}

.flex-item4 {
    background-color: cornflowerblue;
    width: 50pt;
    height: 50pt;
    margin: 10px;
    left: 75%;
    position: relative;
}

.item {
  height: 150px;
  border-bottom: 1px solid lightgrey;
}

.gauge {
  width: 200px; 
  margin-top: -10pt;
  float: left;
  margin-left: 15px;
}

.icon {
  float: right;
  margin-right: 30pt;
}

.label {
  font-size: 10pt;
  color: black;
}

.arrow {
  right: 10px;
  position: absolute;
  margin-top: 75px;
}

.arrow img {
  width: 20px;
}

#map {
  height: 100%;
  width: 100%;
}

#list {
  height: 45%;
  width: 92%;
  margin: 0 auto;
  overflow: auto;
  border: 1pt solid lightgrey;
  margin-top: 10pt;
}

table {
  width: 100%;
}

th {
  padding-top: 4pt;
  padding-bottom: 4pt;
}

#list tr {
  height: 30pt;
}

.blue {
  background-color: #e6f0ff;
}

.username {
  font-size: 11pt;
}

.avatar {
  padding-left: 25pt;
  padding-right: 5pt;
}

.avatar img {
  width: 25px;
  height: 25px;  
}

#achievements {
  height: 40%;
  width: 92%;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 15pt;
}

#achievements td {
  text-align: center;
}

#achievements tr {
  height: 50pt;
}

#achievements img {
  width: 38px;
  height: 38px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    text-align: center;
    background-color: #54c7fc;
    margin: 50% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 23px;
    color: white;
}

/* Modal Content/Box */
.modal-content2 {
    text-align: center;
    background-color: white;
    margin: 20% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #54c7fc;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 23px;
    color: black;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#code {
  height: 40px;
  width: 70%;
  border-radius: 10px;
  border: 1px solid #54c7fc;
  text-align: center;
  color: grey;  
}

#code input.placeholder {
  text-align: center;
}

.muchgray {
   background-color: #e9e9e9;
}

.float-box {
    background-color: white;
    height: 40px;
    margin-top: 1pt;
}

.float-box input{
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 5px;
    width: 85pt;
}

.float-boxh {
    background-color: white;
    height: 70px;
    margin-top: 1pt;
}

.left-sep {
    text-align: left;
    margin-left: 1em;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.vcent {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.left-text {
  float: left;
  clear:left;
  margin-left: 20pt;
}

.right-text {
  float: right;
  clear:right;
  margin-right: 20pt;
  color: #a2a2a2;
}

/* am an idiot*/
.right-sep {
    text-align: right;
    margin-left: 1em;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sp {
  margin-left: 3em;
}

.sp2 {
  margin-left: 3.5em;
}

.sp3 {
  margin-left: 7em;
}




.muchgray a {
  color:black;
  text-decoration: none;  
}

#header a {
  color:black;
  text-decoration: none;  
}

/* CRAP FROM THE NET FOR SWITCH */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}